body {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: #330000;
	background-color: #BFFFBF;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #C0C0C0;
}
h1 {
	color: #002000;
	text-transform: capitalize;
	font-size: x-large;
}
h3 {
	color: #003300;
}
h5 {
	color: #003300;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#allPage {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #333333;
	border: thin dotted #008040;
	padding: 15px;
}
label {
	width: 350px;
	text-align: justify;
	float: left;
	color: #002D2D;
	height: inherit;
}
fieldset {
	border-radius: 5px;
	box-shadow: 3px 3px 3px #333333;
	color: #000066;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-decoration: none;
	text-transform: none;
}
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	font-size: large;
}
footer {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: #003300;
	font-size: small;
	background-color: #79FF79;
}
